.about {
    text-align: center;
    padding: 5em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.about span,
.about a {
    display: block;
    margin: 1em;
    margin-top: 0em;
}

.aboutTitle {
    text-align: center;
    text-decoration: underline;
    margin: 0em;
    padding: 0em;
}