/* Layout related CSS for the entire website is in this file */
/*This file displays layout features that can't be done by just bootstrap*/
/*For all color related CSS see Colors.scss (this also includes background images and opacity)*/

//TODO: fix bloglist display size on smaller screen
//TODO: reorganize css & switch unnecessary css to bootstrap when possible

$inputZindex: 4; //if input index is set to less than 4 it messes up the password input display

.fs-7 {
    font-size: xx-small
}
.card {
    min-width: 200px;
}

.blog {
    min-width: 470px;
}

.post {
    width: 100%; //Post List on 'blogs/id' page
}

.postDropdownToggle {
    border: none;
}

.list-group {
    list-style-type: none;
}
.nav-link {
    padding-left: 0em;
    padding-right: 0em;
    text-decoration: none;
    font-style: italic; //for nav-link colors see Colors.scss
    border: none;
    border-radius: 50px;
    margin: 0;
    padding: 0;
}

.nav-link:hover,
.nav-link:active {
    border: none; //for nav-link colors see Colors.scss
    cursor: pointer;
    //text-decoration: underline;
}

.pointer {
    cursor: pointer;
}
.modal-content div {
    border: none; //removes the border that separates different sections in all pop up modals of the website (bootstrap modals defaults to having header, body, & footer borders)
}

.cursor-text {
    cursor: text;
}

.input,
.button {
    border-width: 1px !important;
    border-style: solid !important; //for border-color see Colors.scss
}

.edit-hover:hover {
    border: 1px solid;

}

.text-truncate-container p {
    //truncates long text with 3 dots ... after -webkit-line-clamp amount of lines (see blogItemDisplay)
    -webkit-line-clamp: 5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.dropdown-toggle::after {
    display: none;
}
.fs-xxl {
    font-size: 5em !important;
}

.blogListItemLayout {
    min-width: 350px;
    max-width: 350px;
    min-height: 250px;
    max-height: 250px;
}
.logoLink {
   margin-top: 2px;
}

// sign up & login forms - input icons
.input-parent {
    position: relative; //Log in and sign up form input parents
}

.input-parent .input-icon {
    position: absolute; //sets position for all form input icons at the beginning of the input
    top: 36px; //extra small screen (ie phones) need +4px (see below)
    left: 21px;
    z-index: $inputZindex;
    font-size: large;
}

.login-parent .input-icon {
    left: 10px;
}

.password-input {
    background-image: none !important; //removes default valid/invalid icons after submit attempt, because eye icon is in its place (see SignUpModal/Row3.js)
}

.eye-icon {
    position: absolute;
    right: 11px;
    top: 5px;
    z-index: $inputZindex;
}

.inputPadding {
    padding-left: 2em; //Adds empty space for input icon. ( bootstrap sizes ps-4 and ps-5 are both wrong lengths, need in between)
}

.password-msg {
    position: absolute;
    margin-top: -15px;
}
body {
    font-weight: 600;
}
@media screen and (min-width: 576px) { //extra small bootstrap screen size
    body {
        font-weight: 400;
    }
    .input-icon {
        top: 36px !important;
    }
    .input-parent .input-icon {
        top: 32px;//all screen sizes other than extra small need -4px (from 36px, see above)
    }
    .blogListItemLayout {
        min-width: 400px;
        max-width: 400px;
        min-height: 250px;
        max-height: 250px;
    }
}
@media screen and (min-width: 1200px) {
    .blog {
        width: 46%; //Blog List on 'blogs' page: Width is set for two column layout, and 50% bootstrap default + padding & margin is too big. Therefore width is set here at 46%. (Padding + Margin = 4px)
    }

    .post {
        width: 75%;
    }
}