//All non color button related css for the entire website (& opacity & bgImage)
.button {
    border-width: 1px !important; //for border-color see Colors.scss
}
$basePaddingX: 6px;
$basePaddingY: 12px;

.pillBtn {
    font-weight: bold;
    padding: $basePaddingX $basePaddingY;
}
.pillBtn:hover {
    border-width: 2px !important; //makes border thicker
    padding: calc($basePaddingX - 1px) calc($basePaddingY - 1px);
}
.header-button {
    //dropdown button for smaller screen layout, in the top right of the header
    padding-top: 2px;
}
.btn:disabled,
button:disabled {
    opacity: 75% !important;
    cursor: not-allowed;
    pointer-events: all !important;
}
@media screen and (min-width: 576px) { //extra small bootstrap screen size
    .header-button {
        //dropdown button for smaller screen layout, in the top right of the header
        padding-top: 5px;
    }
}