/*Color (& background image) related CSS in this file (this includes slightly lightening opacity)*/
/*This file displays the color scheme for the entire website (that can't be done by just bootstrap default colors)*/
//TODO: reorganize css to make easier to find where it is being used (whether in one or many places throughout the website)

/* The css in this file is sorted as follows: 
Colors, Text Colors, Background Color, Border Color, Border color Hover, Opacity, Icons, Buttons, Link Colors
Dropdowns, Form Fields - inputs & textarea, Checkbox, Miscellaneous, Background Images
*/

//Colors (define all used colored variables (see listOfColors.scss for more color options)
//green
$green: #198754;
$lighterGreen: #7bc1a1;
$lightGreen: #defcee;
//indigo
$indigo: #6610f2;
$lightIndigo: #c8b4ee;
$lighterIndigo: #ffdcf7;
//blue
$blue: #0d6efd;
$lighterBlue: #619ffb;
$lightBlue: #b6d1fa;

$bsAlert: #842029; //bootstrap alert color
$bsAlertLight: #f8d7da; //bootstrap alert background color

//Secondary colors:
$lightGrey: #dddddd;
$darkGrey: #535868; //#343a40
$white: white;
$black: black;
$lighterWhite: rgb(243, 242, 242);
$lighterDark: $darkGrey;
$dark: $black; //if primary color is a dark color set $dark to $primary, else set it to black

//Light Mode Colors:
$primary: $white;
$primaryLight: $lighterWhite;
$secondary: $lightGrey; //swap this color with secondary-reverse's color (see above comment)
$secondary-reverse: $black; //$white; //swap this color with secondary's color (see above comment)

//Border & Button colors
$borderColor: $blue; //color of buttons, links, & colored borders throughout the entire website
$borderColor-medium: $lighterBlue;
$borderColor-light: $lightBlue; //used for buttons & input shadow
////////////////////////////////////////////////////////////////////////////////

//Text Color
.color-primary {
    color: $primary;
}

.color-secondary {
    color: $secondary;
}

.dark {
    color: $dark;
}

.color-secondary-reverse {
    color: $secondary-reverse;
}

.footer,
.dropdown:hover {
    color: $secondary-reverse;
}

//Background Color
.backgroundColor {
    background-color: $borderColor-light !important;
}

.bgColor-primaryLight {
    background-color: $primaryLight;
}

.inputGroup,
.bgColor-primary,
.dropdown-menu,
.inputGroup {
    background-color: $primary;
}
.bgAlert {
    background-color: $bsAlertLight;
}

//Border Color
.borderColor {
    border-color: $borderColor !important;
}

.borderColor-primary,
.edit-hover:hover {
    border-color: $primary;
}


//Border Color Hover
.bch:hover,
.pillBtnSolid:hover {
    border-color: $borderColor !important;
}

.bchLight:hover {
    border-color: $borderColor-light !important;
}

//Opacity - change the opacity slightly to dynamically lighten or darken the element's color on hover
.hoverDarken {
    opacity: 90%;
}

.hoverDarken:hover {
    //opacity +10%
    opacity: 100%;
}

.hoverLighten:hover {
    //opacity -10%
    opacity: 90%;
}

.opacity-85 {
    opacity: 85%;
}

//Icons
.icon {
    opacity: 80%;
    color: $white;
}

.loggedInIcon .rounded-circle:hover {
    background-color: $borderColor-light; //$secondary
}

//Buttons
.pillBtn {
    color: $borderColor !important;
    border-color: $borderColor !important;
}

.pillBtn:hover {
    background-color: $borderColor-light !important;
}

.pillBtnSolid {
    background-color: $borderColor !important;
    border-color: $borderColor !important;
    color: $primary !important;
}

.pillBtnSolid:hover {
    color: $borderColor-light;
}
.pillBtnSolidDanger {
    //add to pillBtnSolid, to change color from primary to danger
    background-color: $bsAlert !important;
    border-color: $bsAlert !important;
    color: $primary !important;
}
.pillBtnSolidDanger:hover {
    color: $bsAlertLight;
    border-color: $bsAlert !important;
}
.pillBtnDanger {
    color: $bsAlert !important;
    border-color: $bsAlert !important;
}

.pillBtnDanger:hover {
    background-color: $bsAlertLight !important;
}

.header-button:hover,
.header-button:active,
.header-button:focus {
    background-color: $primary;
}

.button,
.button:hover,
.button:focus {
    background-color: $primary; //dark colored button (edit & delete comment buttons)
    color: $secondary-reverse;
    border-color: $primaryLight;
}

.header-button {
    background-color: $primary;
    color: $secondary-reverse;
    // border-color: $secondary-reverse;

}

.btn:disabled,
button:disabled {
    opacity: 75% !important;
}

.post-btn,
.post-btn:active,
.post-btn:focus,
.post-btn:hover {
    color: $black; //light colored button (show/hide & add commnents btn)
    background-color: $primaryLight;
    opacity: 100%;
    border: none;
}

.postDropdownToggle {
    background-image: none;
    color: $secondary-reverse !important;
    background-color: $primary;
}

//Link colors
.nav-link,
.nav-link-header,
.nav-link:hover,
.nav-link-header:hover {
    color: $darkGrey;
}

.nav-link:hover,
.nav-link-header:hover {
    color: $black;
    cursor: pointer;
}

.nav-link-header {
    padding: 0;
}

.link-color {
    //dark color link (see SelectedBlog.js for usage)
    color: $borderColor;
    text-decoration: none;
}

.link-color:hover {
    text-decoration: underline;
    color: $borderColor;
    opacity: 85%;
}

.tac-link:hover {
    opacity: 80%; //link to terms and condition (SignUpModal.js)
}

//Dropdowns
.dropdown-toggle,
.dropdown-toggle:hover,
.dropdown-toggle:active,
.dropdown-toggle:focus {
    //removes the React Bootstrap defaults
    background-color: transparent;
    border: none;
    box-shadow: none !important;
    color: black;
}

.dropdown-item:active {
    // removes the React Bootstrap dropdown item active default of the background color always being dark blue (primary color).
    background-color: $borderColor-light;
}

#editCommentToggle {
    //comment dropdown toggle (for edit/delete dropdown options)
    border: none;
}

#editCommentToggle:hover,
#editCommentToggle:focus {
    color: $borderColor;
}

//Form fields - inputs & textarea 
.input {
    /*'input' can be found in the EditComment.js file in the Comments folder*/
    border-color: $primaryLight !important;
    background-color: transparent;
}

input:active:not(.exclude div div input),
input:focus:not(.exclude div div input),
textarea:active,
textarea:focus {
    //all inputs except for the sign up form inputs
    outline: solid 4px $borderColor-light !important;
    border-color: $borderColor-medium !important;
}

.shadow-red:active,
.shadow-red:focus {
    //for some unknown reason the retype password field had incorrect outline color that is fixed by the css below (see SignUpModal/Row4.js)
    outline: solid 4px pink; //color for react bootstrap danger (ie light red)
}

.shadow-green:active,
.shadow-green:focus {
    outline: solid 4px rgb(189, 218, 189); //color for react bootstrap success (ie light green)
}

//Checkbox (see SignUpModal/Checkbox.js)
.checkbox input:checked {
    //React Bootstrap default checkbox is blue (this css changes the checkbox color dynamically based on the borderColor, to match the rest of the form inputs)
    background-color: $borderColor;
    opacity: 100%;
}

.checkbox input:hover {
    opacity: 100%;
}

.checkbox input {
    border-color: $borderColor !important;
    opacity: 65%;
}

//Miscellaneous CSS
.textBorder {
    -webkit-text-stroke: 2px black; // adds a thin border to text (see Welcome page title)
}
.bsAlert {
    border-color: $bsAlert !important; //bootstrap alert color
    color: $bsAlert;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


//Background Images - background images are chosen based on color theme. (ie pink/purple related photos when primary color is indigo)
$lightBackgroundRGBA: rgba(255, 255, 255, 0.25); //sets background image to be lighter - In this case 2.5 (the higher the number - the lighter the background)
$lighterBackgroundRGBA: rgba(255, 255, 255, 0.75); //set background image to be even lighter
$defaultBackgroundImage: '../../public/Images/stlBackground3.jpg'; //businessmanBackground nature stlBackground3 stlBackground8
$welcomeBackgroundImage: '../../public/Images/stlBackground4.jpg'; //stlBackground: 1,4, 7, 8, 9,11, 

body,
.backgroundImage-primary {
    //default background image for the entire website
    background: linear-gradient($lighterBackgroundRGBA, $lighterBackgroundRGBA), url($defaultBackgroundImage) no-repeat center fixed;
    background-size: cover;
}

.bg-welcome {
    //welcome page's background image
    background-size: cover;
    background-image: url('../../public/Images/businessmanBackground.jpg');
}