 /*Colors - Bootstrap colors and Light/Dark mode Colors are defined here.*/

 // //Colors (define all used colored variables (see listOfColors.scss for more color options)
 $blue: #0d6efd;
 $lightBlue: #b6d1fa;
 $indigo: #6610f2;

 $primary: $blue; //sets bootstrap default primary color //preferably keep this color as a darker color
 $lightOrDark: white; //if $primary color is dark, set this variable to a light color (ie white), else set it to a dark color (ie black).
 // $darkOrLight: black; //this should be the reverse of the 'lightOrDark' variable (see the above line)
 @import "node_modules/bootstrap/scss/bootstrap";

 //////////////////////////////////////////////////////////////////////////////////
 
 :root { // Light Mode colors & Images (Default)
     --background: white;
     --background-secondary: #f8f9fa;
     --background-tertiary: #f8f9fa;
     --text-primary: black;
     --border: #212529;
      --primary: #{$primary};
     --welcomeBackgroundImg: url('../../public/Images/businessmanBackgroundLight2.jpg');
     --defaultBackgroundImg: url('../../public/Images/stlBackground4.jpg'); //4.7, (9),11
     --opacity: 0.65;
     --noImage: url('../../public/Images/noImage.png')
 }

 // Dark Mode colors & Images
 [data-theme='dark'],
 [data-bs-theme='dark'] {
     --background: #343a40;
     --background-secondary: #212529;
     --background-tertiary: #495057;
     --text-primary: white;
     --border: #adb5bd;
     //  --primary: $lightBlue;
     --welcomeBackgroundImg: url('../../public/Images/businessmanBackgroundDark.jpg');
     --defaultBackgroundImg: url('../../public/Images/stlBackground4Dark.jpg');
     --primary: white;
     --opacity: 0.3;
     --noImage: url('../../public/Images/noImageBlack.png')
 }
 //TODO: add success and danger colors to light/dark themes so that sign up form inputs look nicer

 

