// sign up & login forms - input icons
$inputZindex: 6; //if input index is set to less than 6 it messes up the password input display (when input is selected)

.input-parent {
    position: relative; //Log in and sign up form input parents
}

.input-parent .input-icon {
    position: absolute; //sets position for all form input icons at the beginning of the input
    top: 36px; //extra small screen (ie phones) need +4px (see below)
    left: 21px;
    z-index: $inputZindex;
    font-size: large;
}

.login-parent .input-icon {
    left: 10px;
}

.password-input {
    background-image: none !important; //removes default valid/invalid icons after submit attempt, because eye icon is in its place (see SignUpModal/Row3.js)
}

.eye-icon {
    position: absolute;
    right: 11px;
    top: 5px;
    z-index: $inputZindex;
}

.inputPadding {
    padding-left: 2em; //Adds empty space for input icon. ( bootstrap sizes ps-4 and ps-5 are both wrong lengths, therefore we set it here to be a size in between)
}

.password-msg {
    position: absolute;
    margin-top: -15px;
}