//All link related css for the entire website, with the exception of color related css which can be found in the Colors.scss file 
//color related css include anything that changes the color appearance of the component, without changing the layout or anything else (this includes opacity, background images)

.nav-link {
    padding-left: 0em;
    padding-right: 0em;
    text-decoration: none;
    font-style: italic; //for nav-link colors see Colors.scss
    border: none;
    border-radius: 50px;
    margin: 0;
    padding: 0;
}

.nav-link:hover,
.nav-link:active {
    border: none; //for nav-link colors see Colors.scss
    cursor: pointer;
    //text-decoration: underline;
}
.logoLink {
    margin-top: 2px;
 }