//This file is not used in the website. It is only here as a quick reference to different potential colors for the website
//Grayscale (from bootstrap grayscale colors)
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

//Indigo Colors
$indigo: #6610f2;
$lightIndigo: #c8b4ee;
$lighterIndigo: #ffdcf7;

$green: #198754;
$lightGreen: #defcee;
$blue: #0d6efd;
$lightBlue: #b6d1fa;

//Other Primary colors: 
$blue: #0d6efd;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

//Other PrimaryLight colors: 
$lightBlue: #b6d1fa; //#f8ceee;
$lightOrange: #ffd8bb;
$lightYellow: #f0e7cc;
$lightGreen: #defcee;

//Secondary colors:
$lightGrey: #dddddd;
$darkGrey: #535868; //#343a40
$white: white;
$black: black;
$lighterWhite: rgb(243, 242, 242);
$lighterDark: $darkGrey;
$dark: $black; //if primary color is a dark color set $dark to $primary, else set it to black
$bsAlert: #842029; //bootstrap alert color

//Light Mode Colors:
$primary: $white;
$primaryLight: $lighterWhite;
$secondary: $lightGrey; //swap this color with secondary-reverse's color (see above comment)
$secondary-reverse: $black; //$white; //swap this color with secondary's color (see above comment)
$borderColor: $blue; //color of buttons, links, & colored borders throughout the entire website
$borderColor-light: $lightBlue; //used for buttons & input shadow

//Dark Mode Colors (not completed yet):
// $primary: $lighterDark;
// $primaryLight: $dark;
// $secondary: $white; //swap this color with secondary-reverse's color (see above comment)
// $secondary-reverse: $lightGrey;
// $borderColor: rgb(112, 181, 249);
// $borderColor-light: $lightBlue;




//Background Images - background images are chosen based on color theme. (ie pink/purple related photos when primary color is indigo)
// $lightBackgroundRGBA: rgba(255, 255, 255, 0.25); //sets background image to be lighter - In this case 2.5 (the higher the number - the lighter the background)
// $lighterBackgroundRGBA: rgba(255, 255, 255, 0.75); //set background image to be even lighter
// $defaultBackgroundImage: '../../public/Images/stlBackground3.jpg'; //businessmanBackground nature stlBackground3 stlBackground8
// $welcomeBackgroundImage: '../../public/Images/stlBackground4.jpg'; //stlBackground: 1,4, 7, 8, 9,11, 


$c1: #1084ff;
$c2: #139eff;
$c3: #1ea265;
$c4: #198754;
$c5: #1084ff;
$c6: #1084ff;




