/* Light Mode CSS */
/*This file displays the color scheme for the entire website that can't be done by just bootstrap, see 'data/backgroundColor.js' for details*/

/*TODO: Use SASS instead of lightmode/darkmode.css and instead of backgroundColors.js*/
body {
    background-color: white;
    color: white;
}

.nav-link {
    color: white;
    padding-left: 0em;
}

.nav-link:hover {
    color: #d1e7dd; /* this is the color that is bootstrap's default light version of green, taken from 'list-group-item-success' */
}
.author-link {
    width: fit-content;
}

.list-group-item, .list-group-item:hover {
    color: white;
}
.post-btn:hover  {
    color: black;
    background-color: #d1e7dd !important;
}

.post-btn, .post-btn:active, .post-btn:focus {
    color: black;
    background-color: white;
}
.blog:hover {
    opacity: 85%;
    color: #d1e7dd;
}